---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/header/Nav.astro";
import { Image } from "astro:assets";
import Dana from "../assets/images/blog.webp";
import Guernica from "../assets/images/blog_9nov.jpg";
import posts from "../assets/db/posts.json";
const imagenes = [Dana, Guernica];
---

<Layout>
  <header>
    <Nav />
    <div class="mt-[5vh] bg-(--red) p-5">
      <h1 class="text-white font-extrabold text-4xl">BLOG</h1>
    </div>
  </header>
  <main class="min-h-[95vh] p-10">
    <div class="flex flex-col lg:flex-row gap-4 flex-wrap justify-evenly">
      {
        posts.map((p, i) => (
          <article class="shadow-2xl p-4 bg-white rounded-lg md:w-3/4 m-auto lg:m-0 lg:w-1/4 flex flex-col justify-between">
            {imagenes[i]&&(<Image src={imagenes[i]} alt={p.altText?p.altText:""} />)}
            <h2 class="text-gray-700 font-extrabold my-3 text-justify md:text-2xl lg:text-lg">{p.titulo}</h2>
            <div class="flex gap-2 mb-2 flex-wrap">
              {
                p.hastags.map(e=>(
                  <p class="text-[.6rem] text-white bg-red-300 p-1 rounded-lg">#{e}</p>
                ))
              }
            </div>
            <a href="#" data-id={i} class="text-(--red) underline m-auto">
              Ver más
            </a>
          </article>
        ))
      }
      
    </div>
  </main>
</Layout>

<script define:vars={{ posts, imagenes }}>
  const body = document.querySelector("body");
  const postsN = document.querySelectorAll("a[data-id]");
  postsN.forEach((p) => {
    p.addEventListener("click", (e) => {
      e.preventDefault();
      const id = p.dataset.id;
      const post = posts[id];
      body.insertAdjacentHTML(
        "beforeend",
        `<div style="scrollbar-width:none" id="article" class="fixed z-100 w-full h-full top-0 left-0 lg:p-20 flex bg-[#af79796b] overflow-y-scroll">
    <div
      class="m-auto bg-white shadow-2xl flex flex-col lg:w-1/2"
    >
      <Image src=${imagenes[id].src} class="" alt="${post.altText}" />
      <h2 class="text-gray-700 font-extrabold my-3 text-2xl text-center px-3">
        ${post.titulo}
      </h2>
      ${post.parrafos.map((para) => `<p class="px-10 text-justify mb-10">${para}</p>`).join("")}
      <button id="close-modal" class="text-(--red) w-1/12 md:w-1/24 lg:w-1/36 m-auto mb-10 hover:text-red-950 cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-x-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"
          ></path>
        </svg>
      </button>
    </div>
  </div>`
      );
      const modal = body.querySelector("#article");
      if (modal) {
        modal.addEventListener("click", (e) => {
          if (e.target.id == "article" || ['svg', 'path', 'button'].includes(e.target.nodeName)) {
            modal.remove();
          }
        });
      }
    });
  });
</script>